/* CSS STYLESHEET FOR PLOT TWIST WEBSITE DIFFERENT SECTIONS
  NavBar, Home Section, Music Section, Custom Buttons, Footer, and Responsive Styles
*/


/*-----------------------------------------------------------------------------------------
  GOOGLE FONTS            
-------------------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Sixtyfour+Convergence&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100..900&family=Limelight&family=Outfit:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');



/*-----------------------------------------------------------------------------------------
  BUTTONS AND BUTTON LIKE ITEMS
-------------------------------------------------------------------------------------------*/

.terminiecondizioni, .privacy-policy,
.cookie-policy, .crediti {
  padding: 10rem 2rem 5rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.terminiecondizioni .container-fluid, .privacy-policy .container-fluid, 
.cookie-policy .container-fluid, .crediti .container-fluid {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  border-radius: var(--border-radius-xsm);
  border: 1px solid rgba(29, 29, 29, 0.323);
  background-color: var(--drkm-color);
  max-width: 1300px;
  height: 60vh;
}

.policy-title  {
  display: flex;
  flex: 0 0 auto; 
  align-items: top;
  width: fit-content;
  height: 100%;
  margin: 0;
  padding: 1rem;
  background:rgba(218, 0, 0, 0.433);
  writing-mode: vertical-lr; /* vertical top-to-bottom, right-to-left */
  text-orientation: upright;
  overflow: hidden;
}

.policy-title h1 {
  font-family: var(--monotype-font-family);
  font-size: clamp(1.2rem, .5rem + 2vw, 1.5rem); 
  line-height: 1.5;
  white-space: normal;     
  word-break: keep-all;       
  overflow-wrap: break-word;     
}

.policy-text {
  flex: 1 1 auto;           
  max-width: 100%;      
  box-sizing: border-box;
  overflow-y: auto;
  scrollbar-width: thin;    
  scrollbar-color: gray; 
  max-height: 60vh;
  padding: 2rem;
  color: var(--drkm-text-color);
}

.policy-text h1{
  font-family: var(--sidebar-font-family);
  font-size: clamp(.5rem, 1vw + 1rem, 2rem);
  letter-spacing: .5em;
  font-weight: var(--font-weight-bold);
}
.policy-text h2{
  font-family: var(--monotype-font-family);
  font-weight: var(--font-weight-light);
  font-size: 16px;
  letter-spacing: .05em;
}
.policy-text ol {
  margin: 2rem 0rem;
}

.policy-text a, p, ul li, ol li {
  font-size: 16px;
  line-height: 1.5;
}

.policy-text a {
  color: var(--drkm-link-color); 
  font-weight: var(--font-weight-light);
  letter-spacing: .1em;
}

.policy-text p {
  font-size: 14px;
}

.policy-text h3{
  font-size: 18px;
  font-weight: var(--font-weight-normal);
  color: var(--drkm-link-color);
  letter-spacing: .1em;
  margin: 3rem 0rem 1rem;
}


.policy-text ul li, ol li{
  font-weight: var(--font-weight-thin);
  color: var(--drkm-text-color);
  margin: 0rem 0rem 1rem;
}

.policy-table {
  width: 100%;
  border-collapse: collapse; 
  font-size: 14px;
  font-weight: var(--font-weight-thin);
  line-height: 1.5;
  margin: 2rem 0rem 1rem;
}
.policy-table td, .policy-table th {
  border: .5px solid white;   /* or any color you like */
  padding: 1rem;
}



.policy-text b{
  font-weight: var(--font-weight-normal);
  font-size: 16px;
  color: var(--drkm-link-color);
  letter-spacing: .1em;
}


.cookie-popup {
  display: flex;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.3); /* dim background */
  color: white;
  
  justify-content: center;
  align-items: center;
  z-index: 10000;
  display: none; /* hidden by default */
}

.cookie-popup-content {
  background: rgba(0,0,0,0.95);
  max-width: 600px;
  text-align: left;
  padding: 2rem;
  margin: 1rem;
  border-radius: var(--border-radius-medium);
  border: 2px solid var(--dark-color);
  border-radius: 10px;
  z-index:9999;
}
.cookie-popup-content .policy-text p, h2 {
  font-size: 14px;
}
.cookie {
  display: flex;
  padding: 0rem 0rem;
  width: 100%;

} 
.cookie .container-fluid {
  border-radius: var(--border-radius-small);
  border: 1px solid rgba(83, 81, 81, 0.473);
  background-color: #121212be;
  max-width: 1000px;
  max-height: 10rem;
  overflow: hidden; overflow-y: auto;
  scrollbar-width: thin;       /* Firefox thin scrollbar */
  scrollbar-color: gray ; /* Firefox scrollbar colors */

}
.cookie-buttons {
  margin-top: 1rem;

}
.cookie-btn {
  background-color: #cc0537;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin: 1rem 0rem;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
}
.cookie-btn.reject {
  background-color: #555;
}




/*-----------------------------------------------------------------------------------------
  GENERAL SECTIONS SETUPS TYPOGRAPHY   
-------------------------------------------------------------------------------------------*/

.back-top-icon {
  font-size: var(--h2-font-size);
}

.novita-section {
  position: relative;

  padding: 7rem 2rem 2rem;

  display: block;


}
.top-news {
  margin: 0 0 3rem;  align-self: center;
}
.top-news .container-fluid {
  position: relative;
  border-radius: var(--border-radius-medium) !important;
  overflow: hidden;
  padding: 0;
  max-width: 1200px;

}
.top-news .carousel-control-prev,
.top-news .carousel-control-next {
  background: rgba(218, 0, 0, 0.639) !important;
  position: static;
  height: auto; 
  align-self: stretch;
  width: 8%;
}
.top-news .carousel-inner {
  width: 84%;
}
.top-news .carousel {
  display: flex;
  align-items: center;
  justify-content: space-between; 
}
.top-news .carousel-inner {
  aspect-ratio: 16 / 9;
  
}
.top-news .carousel-inner img {

  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 16 / 9;

  
}



.top-news .carousel-caption {
  z-index: 1000;
  color: #fff;
  display: block;
  text-align: center !important;
  padding-top: 0;
  left:0; right:0;
}
.top-news .carousel-caption p {
  text-align: inherit !important;
  line-height: 1;
}
.top-news .carousel-caption h5 {
  text-align: inherit !important;
  line-height: 1;
}


.all-news .container-fluid {
  position: relative;
  overflow: hidden;
  padding: 0;
  max-width: 1200px;
}
.newsnav {
  position: relative;
  display: flex;
  justify-content: space-between; 
}
.newsdiv {
  position: absolute;
  top: 0; left: 0;
  background:var(--yellow1);
  height: .4rem;
  width: 100%;
  z-index: 10;
}
.newsnav p {
  background: var(--yellow1);
  width: fit-content;
  color: white;
  font-family: var(--monotype-font-family);
  font-weight: var(--font-weight-xbold);
  border-bottom-left-radius: var(--border-radius-small);
  border-bottom-right-radius: var(--border-radius-small);
  padding: .5rem;
  font-size: 14px;
}
.newsnav .pagination {
  background: var(--yellow1);
  border-bottom-left-radius: var(--border-radius-small);
  border-bottom-right-radius: var(--border-radius-small);
  border-top-left-radius: 0;
  border-top-right-radius: 0;

}
.newsnav .page-link {
  background: transparent;
  color: white;
  font-family: var(--monotype-font-family);
  font-weight: var(--font-weight-xbold);
  border-radius: 0;
  font-size: 14px;
  border: none;
}


.article-container {
  position: relative;
  padding: 0;
  aspect-ratio: 16 / 9;
 
  transition: transform .6s ease-in-out;
  border-radius: var(--border-radius-medium) !important;
  border: .2rem solid var(--yellow1);
  overflow: hidden;
}
.article-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  display: block;
  
}
.article-container img:hover  {
  transform: scale(1.2);
}
.article-container::before {
  content: "";                
  position: absolute;        
  inset: 0;                
  background:  rgba(187, 107, 37, 0.05);
           
  transition: opacity .25s ease-in-out; 
  pointer-events: none;    
  z-index: 2;                
}
.article-container::after {
  content: "";                
  position: absolute;        
  inset: 0;                
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(187, 107, 37, 0.2));
  opacity: 0;                
  transition: opacity .25s ease-in-out; 
  pointer-events: none;    
  z-index: 2;                
}
.article-container:hover {
  border: .2rem solid var(--yellow2);
}
.article-container:hover::after {
  opacity: 1;                   /* show overlay on hover */
}

.item .carousel-caption {
  z-index: 1000;
  display: block;
  bottom: 0; left: 0;
  padding: .2rem;
  margin-top: .5rem;
  position: relative;
  text-align: left;
  color: white;
  transition: all 0.1s;
  height: 5rem;
}
.item .carousel-caption:hover {
color: var(--yellow2) !important;
}

.item .carousel-caption a {
  color: inherit;
  text-decoration: none; /* optional */
}
.item .carousel-caption h5{
  color: inherit;
  font-size: 18px;
}
.item .carousel-caption p{
  color: inherit;
  font-size: 16px;
  line-height:1;
}


.events-section {
  margin: 3rem 0 3rem;  align-self: center;
}
.events-section .container-fluid {
  position: relative;
  overflow: hidden;
  padding: 0;
  max-width: 1200px;
  
}
.events-section .card{
 margin-top: 3rem;
}
.events-section .card-front,
.events-section .card-back {
 font-family: var(--monotype-font-family) !important;
  color: var(--drkm-text-color) !important;
  font-size: 3rem !important;
}
.events-section .card-front{
  color: var(--drkm-text-color) !important;
}

.events-section .card-back {
  color: var(--yellow1) !important;
}
.events-section h2 {
 font-family: var(--monotype-font-family);
}



/*--------------------------------------------------------------------------------*/






.share-btn {
  border: none;
  border-radius: var(--transparent);
  color: var(--primary-color);
  background: transparent;
  font-size: var(--h6-font-size);
}

.share-btn:hover {
  border: none;
  border-radius: var(--transparent);
  color: var(--drkm-cont1-color);
}

.small-article .article-container {
font-family: var(--monotype-font-family);
display: flex;             /* make children inline */
  align-items: flex-start;   /* vertical alignment of text and image */
  gap: 1rem;                 /* optional spacing between text and image */
  flex-wrap: nowrap; 

}




