/* CSS STYLESHEET FOR PLOT TWIST WEBSITE DIFFERENT SECTIONS
  NavBar, Home Section, Music Section, Custom Buttons, Footer, and Responsive Styles
*/


/*-----------------------------------------------------------------------------------------
  GOOGLE FONTS            
-------------------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Sixtyfour+Convergence&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100..900&family=Limelight&family=Outfit:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');



/*-----------------------------------------------------------------------------------------
  BUTTONS AND BUTTON LIKE ITEMS
-------------------------------------------------------------------------------------------*/

.terminiecondizioni, .privacy-policy,
.cookie-policy, .crediti {
  padding: 10rem 2rem 5rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.terminiecondizioni .container-fluid, .privacy-policy .container-fluid, 
.cookie-policy .container-fluid, .crediti .container-fluid {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  border-radius: var(--border-radius-xsm);
  border: 1px solid rgba(29, 29, 29, 0.323);
  background-color: var(--drkm-color);
  max-width: 1300px;
  height: 60vh;
}

.policy-title  {
  display: flex;
  flex: 0 0 auto; 
  align-items: top;
  width: fit-content;
  height: 100%;
  margin: 0;
  padding: 1rem;
  background:rgba(218, 0, 0, 0.433);
  writing-mode: vertical-lr; /* vertical top-to-bottom, right-to-left */
  text-orientation: upright;
  overflow: hidden;
}

.policy-title h1 {
  font-family: var(--monotype-font-family);
  font-size: clamp(1.2rem, .5rem + 2vw, 1.5rem); 
  line-height: 1.5;
  white-space: normal;     
  word-break: keep-all;       
  overflow-wrap: break-word;     
}

.policy-text {
  flex: 1 1 auto;           
  max-width: 100%;      
  box-sizing: border-box;
  overflow-y: auto;
  scrollbar-width: none;    
  
  max-height: 60vh;
  padding: 2rem;
  color: var(--drkm-text-color);
}

.policy-text h1{
  font-family: var(--sidebar-font-family);
  font-size: clamp(.5rem, 1vw + 1rem, 2rem);
  letter-spacing: .5em;
  font-weight: var(--font-weight-bold);
}
.policy-text h2{
  font-family: var(--monotype-font-family);
  font-weight: var(--font-weight-light);
  font-size: 16px;
  letter-spacing: .05em;
}
.policy-text ol {
  margin: 2rem 0rem;
}

.policy-text a, p, ul li, ol li {
  font-size: 16px;
  line-height: 1.5;
}

.policy-text a {
  color: var(--drkm-link-color); 
  font-weight: var(--font-weight-light);
  letter-spacing: .1em;
}

.policy-text p {
  font-size: 14px;
}

.policy-text h3{
  font-size: 18px;
  font-weight: var(--font-weight-normal);
  color: var(--drkm-link-color);
  letter-spacing: .1em;
  margin: 3rem 0rem 1rem;
}


.policy-text ul li, ol li{
  font-weight: var(--font-weight-thin);
  color: var(--drkm-text-color);
  margin: 0rem 0rem 1rem;
}

.policy-table {
  width: 100%;
  border-collapse: collapse; 
  font-size: 14px;
  font-weight: var(--font-weight-thin);
  line-height: 1.5;
  margin: 2rem 0rem 1rem;
}
.policy-table td, .policy-table th {
  border: .5px solid white;   /* or any color you like */
  padding: 1rem;
}



.policy-text b{
  font-weight: var(--font-weight-normal);
  font-size: 16px;
  color: var(--drkm-link-color);
  letter-spacing: .1em;
}


.cookie-popup {
  display: flex;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.3); /* dim background */
  color: white;
  
  justify-content: center;
  align-items: center;
  z-index: 10000;
  display: none; /* hidden by default */
}

.cookie-popup-content {
  background: rgba(0,0,0,0.95);
  max-width: 600px;
  text-align: left;
  padding: 2rem;
  margin: 1rem;
  border-radius: var(--border-radius-medium);
  border: 2px solid var(--dark-color);
  border-radius: 10px;
  z-index:9999;
}
.cookie-popup-content .policy-text p, h2 {
  font-size: 14px;
}
.cookie {
  display: flex;
  padding: 0rem 0rem;
  width: 100%;

} 
.cookie .container-fluid {
  border-radius: var(--border-radius-small);
  border: 1px solid rgba(83, 81, 81, 0.473);
  background-color: #121212be;
  max-width: 1000px;
  max-height: 10rem;
  overflow: hidden; overflow-y: auto;
  scrollbar-width: thin;       /* Firefox thin scrollbar */
  scrollbar-color: gray ; /* Firefox scrollbar colors */

}
.cookie-buttons {
  margin-top: 1rem;

}
.cookie-btn {
  background-color: #cc0537;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin: 1rem 0rem;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
}
.cookie-btn.reject {
  background-color: #555;
}




/*-----------------------------------------------------------------------------------------
  GENERAL SECTIONS SETUPS TYPOGRAPHY   
-------------------------------------------------------------------------------------------*/

.back-top-icon {
  font-size: var(--h2-font-size);
}


/*--------------------------------------------------------------------------------*/


.share-btn {
  border: none;
  border-radius: var(--transparent);
  color: var(--primary-color);
  background: transparent;
  font-size: var(--h6-font-size);
}

.share-btn:hover {
  border: none;
  border-radius: var(--transparent);
  color: var(--drkm-cont1-color);
}




/*-----------------------------------------------------------------------------------------
GALLERY HOME PAGE
-------------------------------------------------------------------------------------------*/
.gallery-section {
  position: relative;
  z-index: 2; /* make sure it's above gallery if you want */
  padding: 6.25rem 2rem !important;
}
.gallery-section .container-fluid {
  max-width: 1300px;
}
@media screen and (max-width: 991px) {
  .gallery-section {
    padding-top: 150px;
  }
}
.gboxes { 
  margin: 0; 
  padding: 0 0;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.gbox1, .gbox2, .gbox3, .gbox4, .gbox5, .gbox6, .gbox7 {
  margin: 4px;
  border-radius: var(--border-radius-small);
  overflow: hidden;
  padding: 0;
  position: relative;
}
.gbox1, .gbox2, .gbox3, .gbox5, .gbox6, .gbox7 {
  height: 220px;
}
.gbox1 {
  flex: 1 1 400px;
}
.gbox2 {
  flex: 1 1 220px; /*flex 1 1 300 = grow shrink but aim for 300*/
}
.gbox3 {
  flex: 1 1 500px;
}
.gbox4 {
  flex: 1 1 300px;
  height: 250px;
}
.gbox5 {
  flex: 1 1 300px;
}
.gbox6 {
  flex: 1 1 500px;
}
.gbox7 {
  flex: 1 0 220px;
}
.gbox1 img, .gbox2 img, .gbox3 img, .gbox4 img, .gbox5 img, .gbox6 img, .gbox7 img {
  width: 100% !important;
  object-fit: cover !important;
}
.gbox1 img, .gbox2 img, .gbox3 img, .gbox5 img, .gbox6 img, .gbox7 img {
  height: 220px;
}
.gbox1 img {
  object-position: 50% 15% !important;
}
.gbox3 img {
  object-position: 50% 25% !important;
}
.gbox4 .gboxside1 img {
  object-position: 50% 28% !important;
  height: 250px;
}
.gbox4 .gboxside2 img {
  object-position: 50% 17% !important;
}
.gbox5 img {
  object-position: 50% 15% !important;
}
.gbox6 .gboxside1 img {
  object-position: 50% 50% !important;
  height: 250px;
}
.gbox6 .gboxside2 img {
  object-position: 20% 17% !important;
}
.gboxside1 {
  width: 100%;
  height: 100%;
  cursor: pointer;
  /* shows it’s clickable */
  z-index: 1;
}
.gbox1:hover .gboxside2,
.gbox2:hover .gboxside2,
.gbox3:hover .gboxside2,
.gbox4:hover .gboxside2,
.gbox5:hover .gboxside2,
.gbox6:hover .gboxside2,
.gbox7:hover .gboxside2 {
  opacity: 1;
  visibility: visible;
}
.gboxside2 {
  position: absolute;
  /* container is relative */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  overflow: hidden;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}
.gboxside2 .img-wrapper {
  position: absolute;
  box-sizing: border-box;
  transition: all 0.5s ease;

}
.gboxside2:hover .img-wrapper {
  top: 8px;
  bottom: 8px;
  left: 8px;
  right: 8px;
  width: calc(100% - 16px);
  height: calc(100% - 16px);

  justify-content: center;
  align-items: center;
}
.gboxside2 .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-xsm);
}
.gboxside2 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  pointer-events: none;
  border-radius: var(--border-radius-xsm);
}
.gboxside2 .inner-link {
  position: absolute;
  bottom: -8px;
  left: 0;
  z-index: 2;
  letter-spacing: .4em;
  color: var(--red-i-liked);
  font-size: var(--h6-font-size);
  font-weight: var(--font-weight-black);
  text-decoration: none;
  padding: 0rem 1rem;
  border-radius: 4px;
}
.gboxes .collapse:not(.show) {
  display: none;
}
.gboxes .collapse.show {
  display: flex; /* so your overlay is visible */
}

.gallery-section {
  position: relative;
  padding-top: 100px;
  padding-left: 5rem;
  padding-right: 5rem;
}









.flip-titles .card {
  width: auto; height: auto;
  cursor: default !important;
}
.flip-titles .card-inner {
  width: auto;  height: auto;
}

.flip-titles .card-front, .flip-titles .card-back {
  margin: 0; padding: 0;
  background: transparent;
  font-size:clamp(2.5rem, 5vw, 8rem) ;
  font-weight: 600; line-height: 1;
}
.flip-titles .card-front {
  color: white ;
}
.flip-titles .card-back {
  color: var(--red-i-liked);
  position: absolute;
  top: 0; left: 0;
}




@media (max-width: 992px) { /* iPadAir4-5 iPadPro11 820px */
  .flip-titles .card-front,
  .flip-titles .card-back {
    font-size: 68px; 
  }
}

@media (max-width: 768px) { /* iPad 8-9 */
  .flip-titles .card-front,
  .flip-titles .card-back {
    font-size: 60px ;  
  }
}
@media (max-width: 430px) { /* iPhone Plus*/
  .flip-titles .card-front,
  .flip-titles .card-back {
    font-size: 40px ;  
  }
}

@media (max-width: 390px) {  /* iPhone and iPhonePro */
  .flip-titles .card-front,
  .flip-titles .card-back {
    font-size: 30px ;   
  }
}






.gallery-popup {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}


.gallery-popup .carousel-item {
  height: 70vh;  
  transition: transform .7s ease-in-out;
}
.gallery-popup .carousel-item.active {
  display: flex;         
}

.gallery-popup .carousel-control-prev,
.gallery-popup .carousel-control-next {
   position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background: rgba(218, 0, 0, 0.639);
    z-index: 10001; 
}
.gallery-popup .carousel-control-prev {
  left: 0; 
}

.gallery-popup .carousel-control-next {
  right: 0;
}


.gallery-popup .carousel-inner {
  width: 100%;
  max-width: 90vw;

  margin: auto;  /* centers the carousel */
  border-radius: 10px;
}

.gallery-popup .carousel-inner img {
  width: auto;
  max-width: 100%;
  height: 70vh; 
  max-height: 80vh;
  object-fit: contain;
  border-radius: 10px;
  
}
.gallery-popup img {
  transition: opacity 0.5s ease;
}
.gallery-popup .carousel-item {
  transition: transform .8s ease-in-out;

  
}



.gallery-popup .thumb-row {
  position: fixed;
  bottom: 2rem; left: 0; right: 0;
  display: flex;
  justify-content: left;   
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem 0;
  padding: 1rem 1rem;
  overflow-x: auto; overflow-y: hidden;
  flex-wrap: nowrap;         
  background: rgba(0,0,0,0.7); 
  box-sizing: border-box;
  z-index: 10002;           
  scrollbar-width: thin;
}

.gallery-popup .thumb-row img {
  flex-shrink: 0;
  max-height: 60px;
  height: auto;
  width: auto;           
  object-fit: cover;
  cursor: pointer;
  opacity: 0.6;
  border-radius: 4px;
  transition: opacity .3s;
}

.gallery-popup .thumb-row img.active,
.gallery-popup .thumb-row img:hover {
  opacity: 1;
}




/*-----------------------------------------------------------------------------------------
GALLERY TEST 2
-------------------------------------------------------------------------------------------*/

.desktop {
  width: 100vw;
  height: 100vh;
  background: url('wallpaper.jpg') center/cover no-repeat;
  position: relative;
  overflow: hidden;
}

.icon {
  width: 80px;
  text-align: center;
  cursor: grab;
  position: absolute; /* So you can place it anywhere */
}
.icon p {

  text-align: inherit;
  line-height: 1;
  
}


.icon i {
  width: 60px;
  height: auto;
  font-size: 50px;
  color: var(--yellow1);
}








.gallery-page .footer-section .nav {
  padding: 0rem 0rem !important;
  margin-top: .2rem;
  display: flex;
  justify-content: start;

}
.gallery-page .footer-section .nav-link{
  letter-spacing: .1em;
  color: var(--drkm-text-color);
  line-height: 1;
  font-size: clamp(.8rem, 2vw, 1rem);
  font-weight: var(--font-weight-thin);
  width: fit-content;
}
.gallery-page .footer-section .nav-link:hover {
  color: var(--drkm-link-color);
}

.gallery-page .footer-section {
  position: fixed !important;
  background-color: #555;
  bottom: 0;left: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 0rem;
  margin: 0;
  z-index: 9998;
  overflow-y: auto;
  transition: opacity 0.3s ease;
   border: 2px solid rgb(45, 45, 45);
border-radius: var(--border-radius-xsm);
}




.windows98 {
  padding: .5rem .5rem !important;
  margin: .1rem;
  display: inline-flex;
  justify-content: start;
  font-family: var(--monotype-font-family);
  font-weight: var(--font-weight-xbold);
  border-radius: var(--border-radius-small);
  border-top: 1px solid rgba(142, 0, 0, 0.6);
  border-left: 1px solid rgba(142, 0, 0, 0.6);
  border-right: 1px solid rgba(29, 0, 0, 0.7);
  border-bottom: 1px solid rgba(29, 0, 0, 0.7);
  background: linear-gradient(to bottom, rgba(193, 2, 2, 0.7), rgb(142, 0, 0), rgba(177, 4, 4, 0.7));
  width: fit-content;
  transition: all 0.3s ease-in-out;
  font-weight: var(--font-weight-normal);
  color: var(--drkm-text-color);
}
.windows98:hover {
  border-top: 1px solid rgba(29, 0, 0, 0.7);
  border-left: 1px solid rgba(29, 0, 0, 0.7);
  border-right: 1px solid rgba(142, 0, 0, 0.6);
  border-bottom: 1px solid rgba(142, 0, 0, 0.6);
  background: linear-gradient(to bottom, rgba(160, 0, 0, 0.7), rgb(142, 0, 0), rgba(160, 0, 0, 0.7));
  width: fit-content;
  
}


.windows98 a {
 font-weight: inherit;
 color: var(--drkm-text-color);
}
.windows98 a:hover {
 color: white
}

.desktop-popup-content {
 background-color: var(--black-color);
  position: relative;
  align-items: center; justify-content: center;
  text-align: center;
  overflow: hidden;
  top: 5%; 
  max-width: 1000px;
  flex-shrink: 1;
  height: fit-content;
  margin: auto;
  padding: 1rem 1rem 2rem;
  border-radius: var(--border-radius-medium);
  border: 2px solid var(--dark-color);
  z-index: 10000;
}
 .bar {
  background: linear-gradient(to bottom, rgba(193, 2, 2, 0.7), rgb(142, 0, 0), rgba(177, 4, 4, 0.7));
  border-radius: var(--border-radius-small);
  width: 100%;
  text-align: left;
  padding: 0rem;
  margin: 0rem;
  line-height: 1;
  z-index:9999;
  overflow: hidden;
}
.bar p{
  margin: 0;
  padding: .5rem 1rem;
  font-size: 16px;
  font-weight: var(--font-weight-normal);
  font-family: var(--monotype-font-family);

}


.desktopbar {
  display: inline-flex;
  justify-content: start;
  padding: 0rem !important;
  margin: .1rem;
  font-family: var(--monotype-font-family);
  font-weight: var(--font-weight-xbold);
  border-radius: var(--border-radius-xsm);
  border: none;
  background: #42424256;
  width: fit-content;
  height: auto;
  overflow: hidden;
  overflow-x: scroll;

}

.desktopbar .social-icon,
.desktopbar .social-icon-item {
  padding: 0rem !important;
  margin: 0rem !important;

   display: flex;
  align-items: center;
  width: fit-content;
}

.border-right {
border-right: 1px solid rgba(255, 255, 255, 0.258);
}
.desktopbar .social-icon-link {
  padding: .1rem .4rem .1rem ;
  margin: 0rem !important;
  color: var(--drkm-text-color);
  border-radius: 0;
  display: inline-flex;
  margin: 0;
  text-align: center;
  width: auto; height: auto;
  transition: background 0.2s, color 0.2s;
}

.desktopbar .social-icon-link span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


.desktopbar  .social-icon-link:hover {
  background: var(--white-color);
  color: var(--primary-color);
}

.desktopbar  .nav-item {
  border-radius: var(--border-radius-small);
  margin: .1rem;
  background: linear-gradient(to bottom, rgba(18, 18, 18, 0.7), rgb(18, 18, 18), rgba(18, 18, 18, 0.7));
  color: var(--primary-color);
}




.gallery-page .copyright {
  text-align: center;
  margin-bottom: 0.5rem; /* default flow for mobile */
  z-index: 10000; /* make sure it stays on top of other elements */
  
display: block;              

}
/* Desktop only */
@media (min-width: 992px) {
  .gallery-page .copyright {
    position: fixed;
    bottom: calc(var(--footer-height, 3rem) + 0.5rem); /* sits above footer */
    left: 0;
    width: 100%;
    text-align: center;
    background: transparent; /* no background unless you need one */
    z-index: 10000; /* ensure visibility */
  }
}



.gallery-page .copyright-text {
  letter-spacing: .1em;
  font-size: clamp(.8rem, 2vw, 1rem);
  line-height: 1.1;
  font-weight: var(--font-weight-thin);
  text-align: center;
  cursor: default;
  align-items: center;
   width: auto;
  height: auto;
  overflow: hidden;
  overflow-x: scroll;
  scrollbar-width: 1px;
   white-space: nowrap;      /* prevent line breaks */
  overflow-x: auto;         /* enable horizontal scroll */
  overflow-y: hidden;       /* hide vertical scroll bar */
  -webkit-overflow-scrolling: touch;
}
.gallery-page .copyright-text a {
	color: var(--drkm-link-color);
}